#texas-flag{
    width: 100%;
    height: 100%;
}
#texas-container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;    
}
#close-texas{
    position: absolute;
    left: 0;
    top: 0;
}